@model IEnumerable<SimpleBlog.DAL.ViewModel.PostViewModel>

@{
    ViewBag.Title = "Записи";
    ViewBag.Description = "Записи";
}

<h2>Записи</h2>
<br />
<br />
<p>
    <i class="fa fa-plus"></i> @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlSlug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlSlug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Post", new {id = item.Id})"><i class="fa fa-pencil"></i></a>

            </td>
            <td>
                <a href="@Url.Action("Details", "Blog", new {url = item.UrlSlug, controller = "Blog", area = ""})" target="_blank"><i class="fa fa-eye"></i></a>

            </td>
            <td>
                <a href="@Url.Action("Remove", "Post", new {id = item.Id})"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
