@model SimpleBlog.DAL.Object_Model.Post

@{
    ViewBag.Title = "Удалить запись";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <hr/>
    <br/>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        
        <dd>
            @Html.Raw(Model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Posts")
        </div>
    }
</div>
