@using SimpleBlog.WebUI.HtmlHelpers
@model IEnumerable<SimpleBlog.DAL.ViewModel.PostViewModel>

<!--Main Content-->

<div class="container-fluid" id="main-page-content">
    <h1 align="center">Результаты поиска для @ViewBag.Query</h1>
    <br/>
    <br/>
    @foreach (var post in Model)
    {
        <div class="row post-entry">
            <div class="col-md-8 col-xs-10 col-sm-10 col-md-offset-2 col-xs-offset-1 col-sm-offset-1">
                <a href="@Url.Action("Details", new {url = post.UrlSlug})" class="post-entry-title">
                    <h1 align="center">@post.Title</h1>
                </a>
                <hr style="margin-bottom: 5px;"/>
                <p align="center" style="text-transform: uppercase;">
                    Дата публикации <i class="fa fa-calendar-o"></i>: @post.PublishDate.Date.ToString("dd-MM-yyyy") / Автор <i class="fa fa-user"></i>: @post.Author.FullName
                </p>
                <hr style="margin-top: -7px;"/>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10 col-md-offset-2 col-xs-offset-1 col-sm-offset-1">
                <div class="text-justify">
                    @Html.Raw(@post.ShortDescription)
                </div>
            </div>
        </div>
    }
</div>
<!--Main Content End-->