<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title - Админ панель</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="~/Content/Images/favicon-cog.ico">
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-cog" style="color: white"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Posts","Blog", new {area = "", page = 1})"><i class="fa fa-home"></i> На главную</a></li>
                    <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-tachometer"></i> Панель управления</a></li>
                    <li><a href="@Url.Action("Posts", "Post")"><i class="fa fa-sticky-note-o"></i> Записи</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Теги</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-user"></i> Вы вошли как @User.Identity.Name</a></li>
                    <li><a href="@Url.Action("LogOff","Account", new {@area = ""})"><i class="fa fa-times-circle-o"></i> Выход</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-md-offset-2 col-xs-offset-1 col-sm-offset-1">
            <br/>
            <br/>
            <br/>
            @RenderBody()
            <br/>
            <br/>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/translit.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>